.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.main {
  float: left;
  width: 60%;
  padding: 0 20px;
}

.container {
  display: -webkit-boxinline-flex;
  flex-wrap: wrap;
  font-family: 'times new roman', Times, serif;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  align-items: center;
  margin-left: 15%;
  margin-right: 15%;
}


.padding {
  padding: 10px;
  width: fit-content;
  height: fit-content;
}

.example-card {
  background-color: white;
  box-shadow: 0 0 0.2rem rgb(73, 55, 39);
  border-radius: 19px;


}

body>app-root>div.container {
  display: flex;
}

img {
  width: auto;
  max-width: 250px;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .example {
    background: red;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .example {
    background: green;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .example {
    background: blue;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .example {
    background: orange;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .example {
    background: pink;
  }
}

.button {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif
    /*'Times New Roman', Times, serif*/
    /*'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif*/
  ;
  text-align: center;
  margin-right: 22%;
  font-weight: bold; 
}

.shopCard {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif
    /*'Times New Roman', Times, serif*/
    /*'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif*/
  ;
  text-align: center;
}

.cena {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 15px;
  font-weight: bold;
  font-size: large;
  text-align: center;
}

.opis {
  text-align: center;
  font-size: medium;
}

.topnav-right {
  float: right;
}

.navbar {
  background-color: cornflowerblue;

}

.naslov {
  font-weight: bold;
}

/* ng-sidebar-container {
  height: 100vh;
}

::ng-deep .ng-sidebar {
  background-color: bisque;
  width: 300px;
  padding: 2em 3em;
  box-shadow: 0 0 2.5em rgba(85, 85, 85, 0.5);
} */

mat-toolbar {
  background-color: rgb(223, 223, 223);
  color: black;
  height: 50px;
  border-radius: 5px;
}

mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background-color: rgb(197, 197, 197);
  color: black/* rgb(119, 117, 117)*/;
  border-radius: 7px;
  padding: 16px;
  text-align: center;
  font-weight: bolder;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.content {
  /* height: calc(100vh - 98px); */
  margin: 16px;
  margin-left: 32px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  color: rgb(141, 137, 137);
  border-radius: 7px;
  background-color: rgb(235, 234, 234)/*hsl(29, 55%, 90%)*/;
  /* box-shadow: 0 0 2.5em rgba(85, 85, 85, 0.5); */
  box-shadow: 0 0 0.5em rgba(71, 70, 70, 0.5);
  /* margin-left: 20%;
  margin-right: 20%; */

  /* display:-webkit-boxinline-flex; */
  flex-wrap: wrap;
  /* font-family: 'Times New Roman', Times, serif;
     padding-left: 10%; 
     padding-right: 10%;
     text-align: center;
     align-items: center;
     margin-left: 15%;
     margin-right: 15%; */
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;


}

mat-icon {
  margin-right: 8px;
}

.logo {
  border-radius: 10px;
  width: -webkit-fill-available;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

.name {
  margin: 0;
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.8rem;
  color: antiquewhite;
}

mat-card-subtitle {
  font-size: medium;
}

mat-card {
  margin: 10px;
}

.toolbarBtn {
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: larger;
  margin-top: 20px;
}

.divs1 {
  display: inline-block;
  width: 33%;
}

.divs {
  display: inline-block;
  width: 33%;
  text-align: right;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}